<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Currency API configuration</title>

        <input-field type="single-select">
            <name>apiProvider</name>
            <label>Select API provider</label>
            <options>
                <option>
                    <id>currencyapi</id>
                    <name>Currency API</name>
                </option>
            </options>
        </input-field>

        <input-field type="text">
            <name>apiKey</name>
            <label>Provide API key</label>
        </input-field>
    </card>
</config>